flow-space/flows.json
[
    {
        "id": "2dca6eed12b296f5",
        "type": "tab",
        "label": "flows-dispatcher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7c135e772de0725",
        "type": "tab",
        "label": "pump-monitors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30c8a42fdf53c9ea",
        "type": "tab",
        "label": "tsarevo-boiler-automation-t1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ada8f3f5d804ee5",
        "type": "tab",
        "label": "statum-boiler-automation-t1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b74b1a6d538c13c2",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "name": "persistent-storage",
        "style": {
            "label": true
        },
        "nodes": [
            "443b413283d10c89",
            "abf540bef0e1bad8"
        ],
        "x": 34,
        "y": 919,
        "w": 632,
        "h": 82
    },
    {
        "id": "cbcfb9f537c21426",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "name": "web",
        "style": {
            "label": true
        },
        "nodes": [
            "41c82c569adc9a0c",
            "d4fc72a987396215"
        ],
        "x": 28,
        "y": 33,
        "w": 1084,
        "h": 894
    },
    {
        "id": "41c82c569adc9a0c",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "g": "cbcfb9f537c21426",
        "name": "api",
        "style": {
            "fill": "none",
            "label": true
        },
        "nodes": [
            "323402e3df4b64bc",
            "5cb3165ea305cfd7",
            "8a71ccaa19f8d878",
            "74479dcb06e8145c",
            "be8e1b2521c879ee",
            "e207d1a66a7650b9",
            "f89e2f3dce998039",
            "197bb63a4e854458",
            "d246a8475b5673ea",
            "d995a6e870520226",
            "82bde83f79f43412",
            "87a20acffb88c509",
            "a2eba094e5646ec9",
            "887420d8a5fb0d1d",
            "fafd204ba26a1f01",
            "43c3767d3d434ea5",
            "5bc46af389db248b",
            "0eef86469c73bd2e",
            "28cb881e9abfb828",
            "6e554427850e7e1a",
            "42be60bdf4323128",
            "40214b7ade58103d",
            "8dfd0c2c64939220",
            "6b6d605b33ba622a",
            "8e7193e6b1cfc533",
            "cfd3bfec49dd036d",
            "6d432d77ac870b96",
            "599dd7db8ee5cbb5",
            "3a5c928ea11c81d2",
            "d1b9ae86e7d25599",
            "5558c60e10dce090"
        ],
        "x": 54,
        "y": 239,
        "w": 1032,
        "h": 662
    },
    {
        "id": "d4fc72a987396215",
        "type": "group",
        "z": "2dca6eed12b296f5",
        "g": "cbcfb9f537c21426",
        "name": "auth",
        "style": {
            "label": true,
            "fill": "none"
        },
        "nodes": [
            "cc420d657eea3b6f",
            "7fedb0406dc884b3",
            "281282e423102908",
            "ae53f3a719dc646f",
            "93590fb695220b2f",
            "0c78d8dd9d12fd1e"
        ],
        "x": 54,
        "y": 59,
        "w": 852,
        "h": 142
    },
    {
        "id": "e8c1afd9a301aa03",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.300",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "17c1930de88ea78c",
        "type": "modbus-client",
        "name": "statum_boiler",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.3.15",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 5000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 4000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "310e36d12525281e",
        "type": "modbus-client",
        "name": "ceasar_boiler",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.3.16",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 5000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 4000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "cc420d657eea3b6f",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "",
        "url": "/sign-in",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "7fedb0406dc884b3"
            ]
        ]
    },
    {
        "id": "7fedb0406dc884b3",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "sign-in",
        "func": "const { signIn } = global.get('routes');\n\nreturn await signIn(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "281282e423102908"
            ]
        ]
    },
    {
        "id": "281282e423102908",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "http-sign-in-response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "323402e3df4b64bc",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/devices",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "5cb3165ea305cfd7"
            ]
        ]
    },
    {
        "id": "5cb3165ea305cfd7",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-devices",
        "func": "const { getDevices } = global.get('routes');\n\nreturn await getDevices(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "8a71ccaa19f8d878"
            ]
        ]
    },
    {
        "id": "8a71ccaa19f8d878",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-devices-response",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "74479dcb06e8145c",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/device/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "be8e1b2521c879ee"
            ]
        ]
    },
    {
        "id": "be8e1b2521c879ee",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-state",
        "func": "const { getDeviceState } = global.get('routes');\n\nreturn await getDeviceState(msg, global);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "e207d1a66a7650b9"
            ]
        ]
    },
    {
        "id": "e207d1a66a7650b9",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-state-response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "f89e2f3dce998039",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/device/:deviceId/dates",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "197bb63a4e854458"
            ]
        ]
    },
    {
        "id": "197bb63a4e854458",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-states-by-dates",
        "func": "const { getDeviceStatesByDates } = global.get('routes');\n\nreturn await getDeviceStatesByDates(msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "d246a8475b5673ea"
            ]
        ]
    },
    {
        "id": "d246a8475b5673ea",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-device-states-by-dates-response",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "443b413283d10c89",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "b74b1a6d538c13c2",
        "name": "post-device-state-to-database",
        "func": "const { storeStates } = global.get('services');\n\nreturn await storeStates(msg, global);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "abf540bef0e1bad8",
        "type": "inject",
        "z": "2dca6eed12b296f5",
        "g": "b74b1a6d538c13c2",
        "name": "set-interval-1min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "443b413283d10c89"
            ]
        ]
    },
    {
        "id": "d995a6e870520226",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/mnemoschemas/device/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "82bde83f79f43412"
            ]
        ]
    },
    {
        "id": "82bde83f79f43412",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-mnemoschema",
        "func": "const { getDeviceMnemoschema } = global.get('routes');\n\nreturn await getDeviceMnemoschema(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "87a20acffb88c509"
            ]
        ]
    },
    {
        "id": "87a20acffb88c509",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-mnemoschema-response",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "ae53f3a719dc646f",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "",
        "url": "/health-check",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "93590fb695220b2f"
            ]
        ]
    },
    {
        "id": "93590fb695220b2f",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "/health-check",
        "func": "const { healthCheck } = global.get('routes');\n\nreturn healthCheck(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "0c78d8dd9d12fd1e"
            ]
        ]
    },
    {
        "id": "0c78d8dd9d12fd1e",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "d4fc72a987396215",
        "name": "http-health-check-response",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2eba094e5646ec9",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/flows",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "887420d8a5fb0d1d"
            ]
        ]
    },
    {
        "id": "887420d8a5fb0d1d",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-flows",
        "func": "const { getFlows } = global.get('routes');\n\nreturn await getFlows(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "fafd204ba26a1f01"
            ]
        ]
    },
    {
        "id": "fafd204ba26a1f01",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-flows-response",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "43c3767d3d434ea5",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/quick-helps/:referenceKey",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "5bc46af389db248b"
            ]
        ]
    },
    {
        "id": "5bc46af389db248b",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-quick-helps",
        "func": "const { getQuickHelps } = global.get('routes');\n\nreturn await getQuickHelps(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "0eef86469c73bd2e"
            ]
        ]
    },
    {
        "id": "0eef86469c73bd2e",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-quick-helps-response",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "28cb881e9abfb828",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/device/:deviceId",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "42be60bdf4323128",
                "40214b7ade58103d"
            ]
        ]
    },
    {
        "id": "6e554427850e7e1a",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-post-device-state-response",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 700,
        "wires": []
    },
    {
        "id": "42be60bdf4323128",
        "type": "link out",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "link-post-state",
        "mode": "link",
        "links": [
            "f6dc65181c21674e"
        ],
        "x": 425,
        "y": 760,
        "wires": []
    },
    {
        "id": "40214b7ade58103d",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "post-device-state-stub",
        "func": "node.warn(msg);\n\nmsg.statusCode = 201;\nmsg.payload = {\n    message: 'Запрос на изменение состояния устройства принят.'\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 700,
        "wires": [
            [
                "6e554427850e7e1a"
            ]
        ]
    },
    {
        "id": "8dfd0c2c64939220",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/devices/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "6b6d605b33ba622a"
            ]
        ]
    },
    {
        "id": "6b6d605b33ba622a",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device",
        "func": "const { getDevice } = global.get(\"routes\");\n\nreturn await getDevice(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 800,
        "wires": [
            [
                "8e7193e6b1cfc533"
            ]
        ]
    },
    {
        "id": "8e7193e6b1cfc533",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-response",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "cfd3bfec49dd036d",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/data-schemas/device/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "6d432d77ac870b96"
            ]
        ]
    },
    {
        "id": "6d432d77ac870b96",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-device-state-data-schema",
        "func": "const { getDeviceStateDataschema } = global.get('routes');\n\nreturn await getDeviceStateDataschema(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "599dd7db8ee5cbb5"
            ]
        ]
    },
    {
        "id": "599dd7db8ee5cbb5",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-device-state-data-schema-response",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "3a5c928ea11c81d2",
        "type": "http in",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "",
        "url": "/api/states/emergency/:deviceId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "d1b9ae86e7d25599"
            ]
        ]
    },
    {
        "id": "d1b9ae86e7d25599",
        "type": "function",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "get-emergency-state",
        "func": "const { getEmergencyState } = global.get('routes');\n\nreturn await getEmergencyState(msg, global);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 860,
        "wires": [
            [
                "5558c60e10dce090"
            ]
        ]
    },
    {
        "id": "5558c60e10dce090",
        "type": "http response",
        "z": "2dca6eed12b296f5",
        "g": "41c82c569adc9a0c",
        "name": "http-get-emergency-state-response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 860,
        "y": 860,
        "wires": []
    },
    {
        "id": "3254130808eb2f14",
        "type": "inject",
        "z": "a7c135e772de0725",
        "name": "on-init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a01bf9c6243144ca"
            ]
        ]
    },
    {
        "id": "a01bf9c6243144ca",
        "type": "function",
        "z": "a7c135e772de0725",
        "name": "init-device-states",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel } ] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst params = [\n    [\n        \"startStop\", \"lowLevel\", \"midLevel\",\n        \"hiLevel\", \"emergencyLevel\", \"statePump1\",\n        \"statePump2\", \"resetFaultPump1\", \"resetFaultPump2\",\n        \"resetOperatingTimePump1\", \"resetOperatingTimePump2\",\n        \"faultPump1\", \"faultPump2\"\n    ],\n    [\n        \"timePump1\",\n        \"timePump2\"\n    ]\n];\nconst initialState = {};\n\nflow.set([\"coilsParams\", \"holdingsParams\"], params);\n\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\ndevices.forEach(d => {\n    params.forEach(params => {\n        params.forEach((p, i) => {\n            initialState[p] = undefined;\n        });\n    });\n    \n    global.set(`deviceState${d.id}`, initialState);\n});\n\nmsg.payload = { message: \"OnInit was completed.\" }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a59a21eb6b6471bc",
        "type": "function",
        "z": "a7c135e772de0725",
        "name": "build-state-payload",
        "func": "\nflow.set(\"res\", msg.res);\n\nmsg.payload = {\n    ...msg.payload, fc: 5, quantity: 1\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "762ef4d95887673c"
            ]
        ]
    },
    {
        "id": "f6dc65181c21674e",
        "type": "link in",
        "z": "a7c135e772de0725",
        "name": "link in 1",
        "links": [
            "42be60bdf4323128"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "a59a21eb6b6471bc"
            ]
        ]
    },
    {
        "id": "762ef4d95887673c",
        "type": "modbus-flex-write",
        "z": "a7c135e772de0725",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 650,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "03e587130931a889",
        "type": "inject",
        "z": "a7c135e772de0725",
        "name": "set-interval-10sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "2db1e19264fd6a1a"
            ]
        ]
    },
    {
        "id": "2db1e19264fd6a1a",
        "type": "function",
        "z": "a7c135e772de0725",
        "name": "switch-device-connection",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel }] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_=> true);\n\nconst devices = await DeviceDataModel.findAll({\n    attributes: ['id', 'code', 'settings' ],\n    order: [[\"id\"]],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        },\n       \n    }]\n});\n\nlet deviceIndex = flow.get(\"deviceIndex\") || 0;\n\nif (deviceIndex >= devices.length) {\n    deviceIndex = 0;\n};\n\n\nconst device = devices[deviceIndex];\nif (device) {\n    msg.payload = {\n        connectorType: 'TCP',\n        tcpHost: device.settings.ip,\n        tcpPort: device.settings.port,\n        clientTimeout: 1000,\n        unitId: 1,\n    };\n    msg.deviceId = device.id;\n\n\n    flow.set(\"deviceIndex\", deviceIndex + 1);\n    flow.set(\"deviceId\", device.id);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "b0025aba6923fd52"
            ]
        ]
    },
    {
        "id": "f641c61327d806f0",
        "type": "modbus-flex-getter",
        "z": "a7c135e772de0725",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "e8c1afd9a301aa03",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 650,
        "y": 340,
        "wires": [
            [
                "bfb3e9ec73ddd77c"
            ],
            [
                "0cde6358fb843fa9"
            ]
        ]
    },
    {
        "id": "bfb3e9ec73ddd77c",
        "type": "function",
        "z": "a7c135e772de0725",
        "name": "collect-device-state",
        "func": "\nconst deviceId = flow.get(\"deviceId\");\n// node.warn(deviceId);\nif (!deviceId) {\n    return;\n}\n\nlet deviceState = global.get(`deviceState${deviceId}`);\n\nconst updateState = (params) => {\n    params.forEach((p, i) => {\n        const v = {};\n        v[p] = msg.payload[i];\n        deviceState = { ...deviceState, ...v };\n    });\n}\n\nif (msg.topic) {\n    const params = flow.get(`${msg.topic}Params`);\n    updateState(params);\n}\nglobal.set(`deviceState${deviceId}`, {...deviceState, timestamp: Date.now()});\n\n\nreturn deviceState;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b0025aba6923fd52",
        "type": "modbus-flex-connector",
        "z": "a7c135e772de0725",
        "name": "",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "e8c1afd9a301aa03",
        "emptyMsgOnFail": true,
        "configMsgOnChange": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "a11210cfe3903d4f"
            ]
        ]
    },
    {
        "id": "30f6276f9e368846",
        "type": "function",
        "z": "a7c135e772de0725",
        "name": "switch-reading-registers",
        "func": "const registers = [\n    { name: \"coils\", address: 0, fc: 1, quantity: 13 },\n    { name: \"holdings\", address: 0, fc: 3, quantity: 2 },\n];\n\nlet registerIndex = flow.get(\"registerIndex\") || 0;\n\nif (registerIndex >= registers.length) {\n    registerIndex = 0;\n}\n\nconst register = registers[registerIndex];\n\nmsg.payload = {\n    fc: register.fc,\n    address: register.address,\n    quantity: register.quantity,\n};\n\nmsg.topic = register.name;\n\nflow.set(\"registerIndex\", registerIndex + 1);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f641c61327d806f0"
            ]
        ]
    },
    {
        "id": "04a22057bd75906f",
        "type": "inject",
        "z": "a7c135e772de0725",
        "name": "set-interval-2sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "30f6276f9e368846"
            ]
        ]
    },
    {
        "id": "a11210cfe3903d4f",
        "type": "debug",
        "z": "a7c135e772de0725",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "0cde6358fb843fa9",
        "type": "debug",
        "z": "a7c135e772de0725",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "a71506f1fa21dd08",
        "type": "modbus-read",
        "z": "30c8a42fdf53c9ea",
        "name": "realMeasurement",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "10",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 280,
        "y": 80,
        "wires": [
            [],
            [
                "bbaeb93817d64273",
                "8149acd4b893f7ae"
            ]
        ]
    },
    {
        "id": "bbaeb93817d64273",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "ddaf67804fda164b"
            ]
        ]
    },
    {
        "id": "8149acd4b893f7ae",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['tempOutNet'] = buffer.readInt16BE(0) / 100;    // температура в сеть\npayload['tempInNet'] = buffer.readInt16BE(2) / 100;     // температура из сети\npayload['tempRoomAir'] = buffer.readInt16BE(4) / 100;   // температура в котельной\npayload['tempOutAir'] = buffer.readInt16BE(6) / 100;    // температура наружного воздуха\npayload['levelDT_1'] = buffer.readInt16BE(8) / 100;     // Уровень ДТ в баке 1\npayload['levelDT_2'] = buffer.readInt16BE(10) / 100;    // Уровень ДТ в баке 2\npayload['pressOutNet'] = buffer.readInt16BE(12) / 100;  // Давление на подаче сетевого контура\npayload['pressInNet'] = buffer.readInt16BE(14) / 100;   // Давление на обратке сетевого контура\npayload['pressOutSrcW'] = buffer.readInt16BE(16) / 100; // Давление на выходе насосов исходной воды\npayload['pressGas'] = buffer.readInt16BE(18) / 100;     // Давление газа\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "a577cae6a22a46e0",
        "type": "debug",
        "z": "30c8a42fdf53c9ea",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "ddaf67804fda164b",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "valuesSets",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "6",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 290,
        "y": 180,
        "wires": [
            [],
            [
                "804433ee534cc898",
                "390642d3ccfbd446"
            ]
        ]
    },
    {
        "id": "804433ee534cc898",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "09f32782e8389124"
            ]
        ]
    },
    {
        "id": "390642d3ccfbd446",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['setPowerNP_1'] = buffer.readInt16BE(0) / 100;      // Задание частоты на сетевой насос 1\npayload['setPowerNP_2'] = buffer.readInt16BE(2) / 100;      // Задание частоты на сетевой насос 2\npayload['setPowerNP_3'] = buffer.readInt16BE(4) / 100;      // Задание частоты на сетевой насос 3\npayload['setPowerNP_4'] = buffer.readInt16BE(6) / 100;      // Задание частоты на сетевой насос 4\npayload['setPowerPW_1'] = buffer.readInt16BE(8) / 100;      // Задание частоты на насос исходной воды 1\npayload['setPowerPW_2'] = buffer.readInt16BE(10) / 100;     // Задание частоты на насос исходной воды 2\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "09f32782e8389124",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "boilersPower",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "407",
        "quantity": "4",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 290,
        "y": 260,
        "wires": [
            [],
            [
                "a49b78020d6e7d4a",
                "73ed8d5883ed6481"
            ]
        ]
    },
    {
        "id": "a49b78020d6e7d4a",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "c1a4d1bdc4695667"
            ]
        ]
    },
    {
        "id": "73ed8d5883ed6481",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['powerBurner_1'] = buffer.readInt16BE(0) / 100;     //Мощность горелки котла 1\npayload['powerBurner_2'] = buffer.readInt16BE(2) / 100;     //Мощность горелки котла 2\npayload['powerBurner_3'] = buffer.readInt16BE(4) / 100;     //Мощность горелки котла 3\npayload['powerBurner_4'] = buffer.readInt16BE(6) / 100;     //Мощность горелки котла 4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "c1a4d1bdc4695667",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "modeDev",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "80",
        "quantity": "19",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 280,
        "y": 340,
        "wires": [
            [],
            [
                "8dd4c8a727dfec72",
                "91b648283dceb9e6"
            ]
        ]
    },
    {
        "id": "91b648283dceb9e6",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nvar payload = {};\n\npayload['modePH_1'] = buffer.readInt16BE(0);     //Насос подпитки №1\npayload['modePH_2'] = buffer.readInt16BE(2);     //Насос подпитки №2\npayload['modeFCNP_1'] = buffer.readInt16BE(4);     //ПЧ - Сетевой насос №1\npayload['modeFCNP_2'] = buffer.readInt16BE(6);     //ПЧ - Сетевой насос №2\npayload['modeFCNP_3'] = buffer.readInt16BE(8);     //ПЧ - Сетевой насос №3\npayload['modeFCNP_4'] = buffer.readInt16BE(10);     //ПЧ - Сетевой насос №4\npayload['modeFCPW_1'] = buffer.readInt16BE(12);     //ПЧ - Насос исходной воды №1\npayload['modeFCPW_2'] = buffer.readInt16BE(14);     //ПЧ - Насос исходной воды №2\npayload['modeNP_1'] = buffer.readInt16BE(16);     //Сетевой насос №1\npayload['modeNP_2'] = buffer.readInt16BE(18);     //Сетевой насос №2\npayload['modeNP_3'] = buffer.readInt16BE(20);     //Сетевой насос №3\npayload['modeNP_4'] = buffer.readInt16BE(22);     //Сетевой насос №4\npayload['modePW_1'] = buffer.readInt16BE(24);     //Насос исходной воды №1\npayload['modePW_2'] = buffer.readInt16BE(26);     //Насос исходной воды №2\npayload['modeBoiler_1'] = buffer.readInt16BE(28);     //Котел №1\npayload['modeBoiler_2'] = buffer.readInt16BE(30);     //Котел №2\npayload['modeBoiler_3'] = buffer.readInt16BE(32);     //Котел №3\npayload['modeBoiler_4'] = buffer.readInt16BE(34);     //Котел №4\npayload['modeValves'] = buffer.readInt16BE(36);     //состояние клапанов\n\npayload['modeVHN'] = (payload['modeValves'] >> 0) & 1;  // Клапан подп. сети\npayload['modeVDT'] = (payload['modeValves']  >> 1) & 1; // Клапан подачи ДТ\npayload['modeVFillDT'] = (payload['modeValves'] >> 2) & 1; // Клапан заполн. ДТ\npayload['modeVHT'] = (payload['modeValves'] >> 3 & 1); // Клапан подп. бака\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "8dd4c8a727dfec72",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "de6e388e4297c4f6"
            ]
        ]
    },
    {
        "id": "de6e388e4297c4f6",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "statusDevs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "130",
        "quantity": "19",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 290,
        "y": 420,
        "wires": [
            [],
            [
                "ec508eb86f8349db",
                "d598ce79b882705f"
            ]
        ]
    },
    {
        "id": "ec508eb86f8349db",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['statusPH_1'] = buffer.readInt16BE(0);      // Насос подпитки №1\npayload['statusPH_2'] = buffer.readInt16BE(2);      // Насос подпитки №2\npayload['statusFCNP_1'] = buffer.readInt16BE(4);    // ПЧ - Сетевой насос №1\npayload['statusFCNP_2'] = buffer.readInt16BE(6);    // ПЧ - Сетевой насос №2\npayload['statusFCNP_3'] = buffer.readInt16BE(8);    // ПЧ - Сетевой насос №3\npayload['statusFCNP_4'] = buffer.readInt16BE(10);   // ПЧ - Сетевой насос №4\npayload['statusFCPW_1'] = buffer.readInt16BE(14);   // ПЧ - Насос исходной воды №1\npayload['statusFCPW_2'] = buffer.readInt16BE(16);   // ПЧ - Насос исходной воды №2\npayload['statusNP_1'] = buffer.readInt16BE(18);     // Сетевой насос №1\npayload['statusNP_2'] = buffer.readInt16BE(20);     // Сетевой насос №2\npayload['statusNP_3'] = buffer.readInt16BE(22);     // Сетевой насос №3\npayload['statusNP_4'] = buffer.readInt16BE(24);     // Сетевой насос №4\npayload['statusPW_1'] = buffer.readInt16BE(26);     // Насос исходной воды №1\npayload['statusPW_2'] = buffer.readInt16BE(28);     // Насос исходной воды №2\npayload['statusBoiler_1'] = buffer.readInt16BE(30); // Котел №1\npayload['statusBoiler_2'] = buffer.readInt16BE(32); // Котел №2\npayload['statusBoiler_3'] = buffer.readInt16BE(34); // Котел №3\npayload['statusBoiler_4'] = buffer.readInt16BE(36); // Котел №4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "d598ce79b882705f",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "11c5fcaf16d9f490"
            ]
        ]
    },
    {
        "id": "11c5fcaf16d9f490",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "statusValves",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "110",
        "quantity": "5",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 290,
        "y": 500,
        "wires": [
            [],
            [
                "f0f34807f53c6564",
                "3d4fc2238b180bad"
            ]
        ]
    },
    {
        "id": "f0f34807f53c6564",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['connectionsBits'] = buffer.readInt16BE(0);     // регистр состояния связи\npayload['statusValve_1'] = buffer.readInt16BE(2);     // Задвижка котла 1 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_2'] = buffer.readInt16BE(4);     // Задвижка котла 2 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_3'] = buffer.readInt16BE(6);     // Задвижка котла 3 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_4'] = buffer.readInt16BE(8);     // Задвижка котла 4 - 2 открыта, 1 закрыта, 0 промежуточное\n\npayload['isBoilerControlLinkActive_1'] = !Boolean((payload['connectionsBits'] >> 0) & 1); // связь с ЩУК1\npayload['isBoilerControlLinkActive_2'] = !Boolean((payload['connectionsBits'] >> 1) & 1); // связь с ЩУК2\npayload['isBoilerControlLinkActive_3'] = !Boolean((payload['connectionsBits'] >> 2) & 1); // связь с ЩУК3\npayload['isBoilerControlLinkActive_4'] = !Boolean((payload['connectionsBits'] >> 3) & 1); // связь с ЩУК4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 500,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "1877cc08f84f0700",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\n\npayload['alarmPH_1'] = buffer.readInt16BE(0);     //Насос подпитки №1\npayload['alarmPH_2'] = buffer.readInt16BE(2);     //Насос подпитки №2\npayload['alarmFCNP_1'] = buffer.readInt16BE(4);     //ПЧ - Сетевой насос №1\npayload['alarmFCNP_2'] = buffer.readInt16BE(6);     //ПЧ - Сетевой насос №2\npayload['alarmFCNP_3'] = buffer.readInt16BE(8);     //ПЧ - Сетевой насос №3\npayload['alarmFCNP_4'] = buffer.readInt16BE(10);     //ПЧ - Сетевой насос №4\n// ошибка смещения в карте или все верно???\npayload['alarmFCPW_1'] = buffer.readInt16BE(14);     //ПЧ - Насос исходной воды №1\npayload['alarmFCPW_2'] = buffer.readInt16BE(16);     //ПЧ - Насос исходной воды №2\npayload['alarmNP_1'] = buffer.readInt16BE(18);     //Сетевой насос №1\npayload['alarmNP_2'] = buffer.readInt16BE(20);     //Сетевой насос №2\npayload['alarmNP_3'] = buffer.readInt16BE(22);     //Сетевой насос №3\npayload['alarmNP_4'] = buffer.readInt16BE(24);     //Сетевой насос №4\npayload['alarmPW_1'] = buffer.readInt16BE(26);     //Насос исходной воды №1\npayload['alarmPW_2'] = buffer.readInt16BE(28);     //Насос исходной воды №2\npayload['alarmBoiler_1'] = buffer.readInt16BE(30);     //Котел 1\npayload['alarmBoiler_2'] = buffer.readInt16BE(32);     //Котел 2\npayload['alarmBoiler_3'] = buffer.readInt16BE(34);     //Котел 3\npayload['alarmBoiler_4'] = buffer.readInt16BE(36);     //Котел 4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "6c5ddddd56efaf1c",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "alarmDevs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "220",
        "quantity": "19",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 290,
        "y": 580,
        "wires": [
            [],
            [
                "1877cc08f84f0700",
                "74ade0def6de3116"
            ]
        ]
    },
    {
        "id": "3d4fc2238b180bad",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            [
                "6c5ddddd56efaf1c"
            ]
        ]
    },
    {
        "id": "e43a849f22bcdf28",
        "type": "modbus-getter",
        "z": "30c8a42fdf53c9ea",
        "name": "fieldBits",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "101",
        "quantity": "3",
        "server": "310e36d12525281e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 280,
        "y": 660,
        "wires": [
            [],
            [
                "84de0b15634e644a"
            ]
        ]
    },
    {
        "id": "74ade0def6de3116",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "e43a849f22bcdf28"
            ]
        ]
    },
    {
        "id": "84de0b15634e644a",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['partBits_1'] = buffer.readInt16BE(0);     //биты состояний по карте\npayload['partBits_2'] = buffer.readInt16BE(2);     //биты состояний по карте\npayload['partBits_3'] = buffer.readInt16BE(4);     //биты состояний по карте\n\npayload['isSupplyWaterLevelEmergencyMin'] = Boolean((payload['partBits_1'] >> 8) & 1);\npayload['isSupplyWaterLevelWorkingMin'] = Boolean((payload['partBits_1'] >> 9) & 1);\npayload['isSupplyWaterLevelEmergencyMax'] = Boolean((payload['partBits_2'] >> 1) & 1);\npayload['isSupplyWaterLevelWorkingMax'] = Boolean((payload['partBits_2'] >> 0) & 1);\n\npayload['isCO1'] = Boolean((payload['partBits_2'] >> 10) & 1);\npayload['isCH1'] = Boolean((payload['partBits_2'] >> 11) & 1);\npayload['isCO2'] = Boolean((payload['partBits_2'] >> 12) & 1);\npayload['isCH2'] = Boolean((payload['partBits_2'] >> 13) & 1);\npayload['isGasFlap'] = Boolean((payload['partBits_2'] >> 14) & 1);\npayload['isOffInput1'] = Boolean((payload['partBits_2'] >> 15) & 1);\npayload['isVaporDt1'] = Boolean((payload['partBits_3'] >> 0) & 1);\npayload['isVaporDt2'] = Boolean((payload['partBits_3'] >> 1) & 1);\n\nmsg.payload = payload;\nmsg.complete = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 660,
        "wires": [
            [
                "54d228896d4b8472"
            ]
        ]
    },
    {
        "id": "54d228896d4b8472",
        "type": "join",
        "z": "30c8a42fdf53c9ea",
        "name": "joinData",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "6ff8a8318c452aee",
                "a577cae6a22a46e0"
            ]
        ]
    },
    {
        "id": "6ff8a8318c452aee",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "collect-device-state",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel }] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_ => true);\nnode.warn(flowUid);\n\nconst device = await DeviceDataModel.findOne({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\nconst payload = msg.payload;\n\nconst deviceState = {\n\n    // Temperature and pressure sensors\n    tempRoomAir: payload.tempRoomAir,\n    tempOutAir: payload.tempOutAir,\n    pressGas: payload.pressGas,\n    levelDt1: payload.levelDT_1,\n    levelDt2: payload.levelDT_2,\n\n    // Network parameters\n    pressOutNet: payload.pressOutNet,\n    tempOutNet: payload.tempOutNet,\n    pressInNet: payload.pressInNet,\n    tempInNet: payload.tempInNet,\n    pressOutSrcW: payload.pressOutSrcW,\n\n    // Emergencies\n    isOffInput1: payload.isOffInput1,\n    isCO1: payload.isCO1,\n    isCH1: payload.isCH1,\n    isCO2: payload.isCO2,\n    isCH2: payload.isCH2,\n    isGasFlap: payload.isGasFlap,\n    isVaporDt1: payload.isVaporDt1,\n    isVaporDt2: payload.isVaporDt2,\n    isSupplyWaterLevelEmergencyMax: payload.isSupplyWaterLevelEmergencyMax,\n    isSupplyWaterLevelEmergencyMin: payload.isSupplyWaterLevelEmergencyMin,\n    isSupplyWaterLevelWorkingMax: payload.isSupplyWaterLevelWorkingMax,\n    isSupplyWaterLevelWorkingMin: payload.isSupplyWaterLevelWorkingMin,\n\n    // Boilers (4-fold)\n    boilers: [\n        {\n            powerBurner: payload.powerBurner_1,\n            mode: payload.modeBoiler_1,\n            status: payload.statusBoiler_1,\n            alarm: payload.alarmBoiler_1\n        },\n        {\n            powerBurner: payload.powerBurner_2,\n            mode: payload.modeBoiler_2,\n            status: payload.statusBoiler_2,\n            alarm: payload.alarmBoiler_2\n        },\n        {\n            powerBurner: payload.powerBurner_3,\n            mode: payload.modeBoiler_3,\n            status: payload.statusBoiler_3,\n            alarm: payload.alarmBoiler_3\n        },\n        {\n            powerBurner: payload.powerBurner_4,\n            mode: payload.modeBoiler_4,\n            status: payload.statusBoiler_4,\n            alarm: payload.alarmBoiler_4\n        }\n    ],\n\n    // Boiler valves (4-fold)\n    boilerValves: [\n        { status: payload.statusValve_1 },\n        { status: payload.statusValve_2 },\n        { status: payload.statusValve_3 },\n        { status: payload.statusValve_4 }\n    ],\n\n    // Network pumps (4-fold)\n    networkPumps: [\n        {\n            setPower: payload.setPowerNP_1,\n            mode: payload.modeNP_1,\n            status: payload.statusNP_1,\n            alarm: payload.alarmNP_2,\n            modeFc: payload.modeFCNP_1,\n            statusFc: payload.statusFCNP_1,\n            alarmFc: payload.alarmFCNP_1\n        },\n        {\n            setPower: payload.setPowerNP_2,\n            mode: payload.modeNP_2,\n            status: payload.statusNP_2,\n            alarm: payload.alarmNP_1,\n            modeFc: payload.modeFCNP_2,\n            statusFc: payload.statusFCNP_2,\n            alarmFc: payload.alarmFCNP_2\n        },\n        {\n            setPower: payload.setPowerNP_3,\n            mode: payload.modeNP_3,\n            status: payload.statusNP_3,\n            alarm: payload.alarmNP_3,\n            modeFc: payload.modeFCNP_3,\n            statusFc: payload.statusFCNP_3,\n            alarmFc: payload.alarmFCNP_3\n        },\n        {\n            setPower: payload.setPowerNP_4,\n            mode: payload.modeNP_4,\n            status: payload.statusNP_4,\n            alarm: payload.alarmNP_4,\n            modeFc: payload.modeFCNP_4,\n            statusFc: payload.statusFCNP_4,\n            alarmFc: payload.alarmFCNP_4\n        }\n    ],\n\n    // Source water pumps (2-fold)\n    sourceWaterPumps: [\n        {\n            setPower: payload.setPowerPW_1,\n            mode: payload.modePW_1,\n            status: payload.statusPW_1,\n            alarm: payload.alarmPW_1,\n            modeFc: payload.modeFCPW_1,\n            statusFc: payload.statusFCPW_1,\n            alarmFc: payload.alarmFCPW_1\n        },\n        {\n            setPower: payload.setPowerPW_2,\n            mode: payload.modePW_2,\n            status: payload.statusPW_2,\n            alarm: payload.alarmPW_2,\n            modeFc: payload.modeFCPW_2,\n            statusFc: payload.statusFCPW_2,\n            alarmFc: payload.alarmFCPW_2\n        }\n    ],\n\n    // Supply pumps (2-fold)\n    supplyPumps: [\n        {\n            mode: payload.modePH_1,\n            status: payload.statusPH_1,\n            alarm: payload.alarmPH_1,\n        },\n        {\n            mode: payload.modePH_2,\n            status: payload.statusPH_2,\n            alarm: payload.alarmPH_2,\n        }\n    ],\n\n\n    // Flaps \n    flapHt: { mode: payload.modeVHT },\n    flapHn: { mode: payload.modeVHN },\n    flapDt: { mode: payload.modeVDT },\n    flapDtFill: { mode: payload.modeVFillDT },\n    boilerControlLinkStatuses: [\n        { isActive: payload.isBoilerControlLinkActive_1, },\n        { isActive: payload.isBoilerControlLinkActive_2, },\n        { isActive: payload.isBoilerControlLinkActive_3, },\n        { isActive: payload.isBoilerControlLinkActive_4, },\n    ],\n    // Timestamp\n    timestamp: Date.now(),\n};\n\nglobal.set(`deviceState${device.id}`, deviceState);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3399c7d3c09f4d06",
        "type": "inject",
        "z": "30c8a42fdf53c9ea",
        "name": "set-interval-1min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 700,
        "wires": [
            [
                "127dfbd55cf54f1c"
            ]
        ]
    },
    {
        "id": "127dfbd55cf54f1c",
        "type": "function",
        "z": "30c8a42fdf53c9ea",
        "name": "stub-collect-emergency-state",
        "func": "\nglobal.set(\"emergencyState4\", {\n    reasons: [\n        {\n            properties: [\n                { isVaporDt2: true }\n            ],\n            description: \"Перевышена предельно допустимая концентрация паров дизельного топлива по каналу 2\"\n        }\n    ],\n    timestamp: Date.now(),\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "13bfc5999f0041c0",
        "type": "modbus-read",
        "z": "7ada8f3f5d804ee5",
        "name": "realMeasurement",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "10",
        "rate": "8",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": true,
        "startDelayTime": "",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 380,
        "y": 120,
        "wires": [
            [],
            [
                "a2449f16890cae88",
                "60ce09db86400fd0"
            ]
        ]
    },
    {
        "id": "a2449f16890cae88",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "c2e8ca9cf8d63331"
            ]
        ]
    },
    {
        "id": "60ce09db86400fd0",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['tempOutNet'] = buffer.readInt16BE(0) / 100;       // температура в сеть\npayload['tempInNet'] = buffer.readInt16BE(2) / 100;        // температура из сети\npayload['tempRoomAir'] = buffer.readInt16BE(4) / 100;      // температура в котельной\npayload['tempOutAir'] = buffer.readInt16BE(6) / 100;       // температура наружного воздуха\npayload['levelDT_1'] = buffer.readInt16BE(8) / 100;        // Уровень ДТ в баке 1\npayload['levelDT_2'] = buffer.readInt16BE(10) / 100;       // Уровень ДТ в баке 2\npayload['pressOutNet'] = buffer.readInt16BE(12) / 100;     // Давление на подаче сетевого контура\npayload['pressInNet'] = buffer.readInt16BE(14) / 100;      // Давление на обратке сетевого контура\npayload['pressOutSrcW'] = buffer.readInt16BE(16) / 100;    // Давление на выходе насосов исходной воды\npayload['pressGas'] = buffer.readInt16BE(18) / 100;    // Давление газа\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "ba2b69c39aa5e432",
        "type": "debug",
        "z": "7ada8f3f5d804ee5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 440,
        "wires": []
    },
    {
        "id": "c2e8ca9cf8d63331",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "valuesSets",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "6",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 390,
        "y": 220,
        "wires": [
            [],
            [
                "f6cb1446a725b149",
                "718ed79a8bfbdc79"
            ]
        ]
    },
    {
        "id": "f6cb1446a725b149",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "1d6b0db4aad11362"
            ]
        ]
    },
    {
        "id": "718ed79a8bfbdc79",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['setPowerNP_1'] = buffer.readInt16BE(0) / 100;     //Задание частоты на сетевой насос 1\npayload['setPowerNP_2'] = buffer.readInt16BE(2) / 100;     //Задание частоты на сетевой насос 2\npayload['setPowerNP_3'] = buffer.readInt16BE(4) / 100;    //Задание частоты на сетевой насос 3\npayload['setPowerNP_4'] = buffer.readInt16BE(6) / 100;    //Задание частоты на сетевой насос 4\npayload['setPowerPW_1'] = buffer.readInt16BE(8) / 100;    //Задание частоты на насос исходной воды 1\npayload['setPowerPW_2'] = buffer.readInt16BE(10) / 100;   //Задание частоты на насос исходной воды 2\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "1d6b0db4aad11362",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "boilersPower",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "407",
        "quantity": "4",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 390,
        "y": 300,
        "wires": [
            [],
            [
                "bb6a580523e087c4",
                "3b3c02d34290fc62"
            ]
        ]
    },
    {
        "id": "bb6a580523e087c4",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "60136aa7b05bc226"
            ]
        ]
    },
    {
        "id": "3b3c02d34290fc62",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['powerBurner_1'] = buffer.readInt16BE(0) / 100;     //Мощность горелки котла 1\npayload['powerBurner_2'] = buffer.readInt16BE(2) / 100;     //Мощность горелки котла 2\npayload['powerBurner_3'] = buffer.readInt16BE(4) / 100;     //Мощность горелки котла 3\npayload['powerBurner_4'] = buffer.readInt16BE(6) / 100;     //Мощность горелки котла 4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "60136aa7b05bc226",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "modeDev",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "80",
        "quantity": "19",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 380,
        "y": 380,
        "wires": [
            [],
            [
                "8217446cc3dd403c",
                "8a26a398253a9ec5"
            ]
        ]
    },
    {
        "id": "8a26a398253a9ec5",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['modePH_1'] = buffer.readInt16BE(0);        // Насос подпитки №1\npayload['modePH_2'] = buffer.readInt16BE(2);        // Насос подпитки №2\npayload['modeFCNP_1'] = buffer.readInt16BE(4);      // ПЧ - Сетевой насос №1\npayload['modeFCNP_2'] = buffer.readInt16BE(6);      // ПЧ - Сетевой насос №2\npayload['modeFCNP_3'] = buffer.readInt16BE(8);      // ПЧ - Сетевой насос №3\npayload['modeFCNP_4'] = buffer.readInt16BE(10);     // ПЧ - Сетевой насос №4\npayload['modeFCPW_1'] = buffer.readInt16BE(12);     // ПЧ - Насос исходной воды №1\npayload['modeFCPW_2'] = buffer.readInt16BE(14);     // ПЧ - Насос исходной воды №2\npayload['modeNP_1'] = buffer.readInt16BE(16);       // Сетевой насос №2\npayload['modeNP_2'] = buffer.readInt16BE(18);       // Сетевой насос №2\npayload['modeNP_3'] = buffer.readInt16BE(20);       // Сетевой насос №3\npayload['modeNP_4'] = buffer.readInt16BE(22);       // Сетевой насос №4\npayload['modePW_1'] = buffer.readInt16BE(24);       // Насос исходной воды №1\npayload['modePW_2'] = buffer.readInt16BE(26);       // Насос исходной воды №2\npayload['modeBoiler_1'] = buffer.readInt16BE(28);   // Котел №1\npayload['modeBoiler_2'] = buffer.readInt16BE(30);   // Котел №2\npayload['modeBoiler_3'] = buffer.readInt16BE(32);   // Котел №3\npayload['modeBoiler_4'] = buffer.readInt16BE(34);   // Котел №4\npayload['modeValves'] = buffer.readInt16BE(36);     // состояние клапанов\n\npayload['modeVHN'] = (payload['modeValves'] >> 0) & 1;  // Клапан подп. сети\npayload['modeVDT'] = (payload['modeValves'] >> 1) & 1; // Клапан подачи ДТ\npayload['modeVFillDT'] = (payload['modeValves'] >> 2) & 1; // Клапан заполн. ДТ\npayload['modeVHT'] = (payload['modeValves'] >> 3 & 1);  // Клапан подп. бака\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "8217446cc3dd403c",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "5bc20f292bc1d90f"
            ]
        ]
    },
    {
        "id": "5bc20f292bc1d90f",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "statusDevs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "130",
        "quantity": "19",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 390,
        "y": 460,
        "wires": [
            [],
            [
                "6218c3ec62c6590f",
                "eeed485eb3624793"
            ]
        ]
    },
    {
        "id": "6218c3ec62c6590f",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['statusPH_1'] = buffer.readInt16BE(0);     //Насос подпитки №1\npayload['statusPH_2'] = buffer.readInt16BE(2);     //Насос подпитки №2\npayload['statusFCNP_1'] = buffer.readInt16BE(4);     //ПЧ - Сетевой насос №1\npayload['statusFCNP_2'] = buffer.readInt16BE(6);     //ПЧ - Сетевой насос №2\npayload['statusFCNP_3'] = buffer.readInt16BE(8);     //ПЧ - Сетевой насос №3\npayload['statusFCNP_4'] = buffer.readInt16BE(10);     //ПЧ - Сетевой насос №4\npayload['statusFCPW_1'] = buffer.readInt16BE(14);     //ПЧ - Насос исходной воды №1\npayload['statusFCPW_2'] = buffer.readInt16BE(16);     //ПЧ - Насос исходной воды №2\npayload['statusNP_1'] = buffer.readInt16BE(18);     //Сетевой насос №1\npayload['statusNP_2'] = buffer.readInt16BE(20);     //Сетевой насос №2\npayload['statusNP_3'] = buffer.readInt16BE(22);     //Сетевой насос №3\npayload['statusNP_4'] = buffer.readInt16BE(24);     //Сетевой насос №4\npayload['statusPW_1'] = buffer.readInt16BE(26);     //Насос исходной воды №1\npayload['statusPW_2'] = buffer.readInt16BE(28);     //Насос исходной воды №2\npayload['statusBoiler_1'] = buffer.readInt16BE(30);     //Котел №1\npayload['statusBoiler_2'] = buffer.readInt16BE(32);     //Котел №2\npayload['statusBoiler_3'] = buffer.readInt16BE(34);     //Котел №3\npayload['statusBoiler_4'] = buffer.readInt16BE(36);     //Котел №4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 460,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "eeed485eb3624793",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 500,
        "wires": [
            [
                "97b513da9079cf7b"
            ]
        ]
    },
    {
        "id": "97b513da9079cf7b",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "statusValves",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "110",
        "quantity": "5",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 390,
        "y": 540,
        "wires": [
            [],
            [
                "927c4cb76ee34b0c",
                "c8d456098178400e"
            ]
        ]
    },
    {
        "id": "927c4cb76ee34b0c",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nvar payload = {};\n\npayload['connectionsBits'] = buffer.readInt16BE(0);   // регистр состояния связи\npayload['statusValve_1'] = buffer.readInt16BE(2);     // Задвижка котла 1 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_2'] = buffer.readInt16BE(4);     // Задвижка котла 2 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_3'] = buffer.readInt16BE(6);     // Задвижка котла 3 - 2 открыта, 1 закрыта, 0 промежуточное\npayload['statusValve_4'] = buffer.readInt16BE(8);     // Задвижка котла 4 - 2 открыта, 1 закрыта, 0 промежуточное\n\npayload['isBoilerControlLinkActive_1'] = !Boolean((payload['connectionsBits'] >> 0) & 1); // связь с ЩУК1\npayload['isBoilerControlLinkActive_2'] = !Boolean((payload['connectionsBits'] >> 1) & 1); // связь с ЩУК2\npayload['isBoilerControlLinkActive_3'] = !Boolean((payload['connectionsBits'] >> 2) & 1); // связь с ЩУК3\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "21b7ea5fe7113574",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['alarmPH_1'] = buffer.readInt16BE(0);     //ЗНасос подпитки №1\npayload['alarmPH_2'] = buffer.readInt16BE(2);     //Насос подпитки №2\npayload['alarmFCNP_1'] = buffer.readInt16BE(4);     //ПЧ - Сетевой насос №1\npayload['alarmFCNP_2'] = buffer.readInt16BE(6);     //ПЧ - Сетевой насос №2\npayload['alarmFCNP_3'] = buffer.readInt16BE(8);     //ПЧ - Сетевой насос №3\npayload['alarmFCNP_4'] = buffer.readInt16BE(10);     //ПЧ - Сетевой насос №4\n// ошибка смещения в карте или все верно???\npayload['alarmFCPW_1'] = buffer.readInt16BE(14);     //ПЧ - Насос исходной воды №1\npayload['alarmFCPW_2'] = buffer.readInt16BE(16);     //ПЧ - Насос исходной воды №2\npayload['alarmNP_1'] = buffer.readInt16BE(18);     //Сетевой насос №1\npayload['alarmNP_2'] = buffer.readInt16BE(20);     //Сетевой насос №2\npayload['alarmNP_3'] = buffer.readInt16BE(22);     //Сетевой насос №3\npayload['alarmNP_4'] = buffer.readInt16BE(24);     //Сетевой насос №4\npayload['alarmPW_1'] = buffer.readInt16BE(26);     //Насос исходной воды №1\npayload['alarmPW_2'] = buffer.readInt16BE(28);     //Насос исходной воды №2\npayload['alarmBoiler_1'] = buffer.readInt16BE(30);     //Котел 1\npayload['alarmBoiler_2'] = buffer.readInt16BE(32);     //Котел 2\npayload['alarmBoiler_3'] = buffer.readInt16BE(34);     //Котел 3\npayload['alarmBoiler_4'] = buffer.readInt16BE(36);     //Котел 4\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 620,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "55a7e7fa1b409dff",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "alarmDevs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "220",
        "quantity": "19",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 390,
        "y": 620,
        "wires": [
            [],
            [
                "21b7ea5fe7113574",
                "6a89cdeeae462140"
            ]
        ]
    },
    {
        "id": "c8d456098178400e",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "55a7e7fa1b409dff"
            ]
        ]
    },
    {
        "id": "72ea7990c03712df",
        "type": "modbus-getter",
        "z": "7ada8f3f5d804ee5",
        "name": "fieldBits",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "101",
        "quantity": "3",
        "server": "17c1930de88ea78c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 380,
        "y": 700,
        "wires": [
            [],
            [
                "7ca183ef9435598a"
            ]
        ]
    },
    {
        "id": "6a89cdeeae462140",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "trigger",
        "func": "const buffer_array = msg.payload.buffer;\nif (buffer_array.length > 0) {\n    msg.payload = 1;\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 660,
        "wires": [
            [
                "72ea7990c03712df"
            ]
        ]
    },
    {
        "id": "7ca183ef9435598a",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "dataConvert",
        "func": "const buffer = Buffer.from(msg.payload.buffer);\nconst payload = {};\n\npayload['partBits_1'] = buffer.readInt16BE(0);     //биты состояний по карте\npayload['partBits_2'] = buffer.readInt16BE(2);     //биты состояний по карте\npayload['partBits_3'] = buffer.readInt16BE(4);     //биты состояний по карте\n\npayload['isSupplyWaterLevelEmergencyMin'] = Boolean((payload['partBits_1'] >> 8) & 1);\npayload['isSupplyWaterLevelWorkingMin'] = Boolean((payload['partBits_1'] >> 9) & 1);\npayload['isSupplyWaterLevelEmergencyMax'] = Boolean((payload['partBits_2'] >> 1) & 1);\npayload['isSupplyWaterLevelWorkingMax'] = Boolean((payload['partBits_2'] >> 0) & 1);\n\npayload['isCO1'] = Boolean((payload['partBits_2'] >> 10) & 1);\npayload['isCH1'] = Boolean((payload['partBits_2'] >> 11) & 1);\npayload['isCO2'] = Boolean((payload['partBits_2'] >> 12) & 1);\npayload['isCH2'] = Boolean((payload['partBits_2'] >> 13) & 1);\npayload['isGasFlap'] = Boolean((payload['partBits_2'] >> 14) & 1);\npayload['isOffInput1'] = Boolean((payload['partBits_2'] >> 15) & 1);\npayload['isVaporDt1'] = Boolean((payload['partBits_3'] >> 0) & 1);\npayload['isVaporDt2'] = Boolean((payload['partBits_3'] >> 1) & 1);\n\n\nmsg.payload = payload;\nmsg.complete = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 700,
        "wires": [
            [
                "5a26926b6bdfd7c9"
            ]
        ]
    },
    {
        "id": "5a26926b6bdfd7c9",
        "type": "join",
        "z": "7ada8f3f5d804ee5",
        "name": "joinData",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 940,
        "y": 360,
        "wires": [
            [
                "cfb112985e31021b",
                "ba2b69c39aa5e432"
            ]
        ]
    },
    {
        "id": "cfb112985e31021b",
        "type": "function",
        "z": "7ada8f3f5d804ee5",
        "name": "collect-device-state",
        "func": "const [{ Op }, { FlowDataModel, DeviceDataModel }] = global.get(['sequelize', 'orm']);\nconst flowUid = node.path.split('/').find(_ => true);\nnode.warn(flowUid);\n\nconst device = await DeviceDataModel.findOne({\n    attributes: ['id'],\n    include: [{\n        model: FlowDataModel,\n        as: 'flow',\n        attributes: [],\n        where: {\n            uid: flowUid\n        }\n    }]\n});\n\nconst payload = msg.payload;\n\nconst deviceState = {\n\n    // Temperature and pressure sensors\n    tempRoomAir: payload.tempRoomAir,\n    tempOutAir: payload.tempOutAir,\n    pressGas: payload.pressGas,\n    levelDt1: payload.levelDT_1,\n    levelDt2: payload.levelDT_2,\n\n    // Network parameters\n    pressOutNet: payload.pressOutNet,\n    tempOutNet: payload.tempOutNet,\n    pressInNet: payload.pressInNet,\n    tempInNet: payload.tempInNet,\n    pressOutSrcW: payload.pressOutSrcW,\n\n    // Emergencies\n    isOffInput1: payload.isOffInput1,\n    isCO1: payload.isCO1,\n    isCH1: payload.isCH1,\n    isCO2: payload.isCO2,\n    isCH2: payload.isCH2,\n    isGasFlap: payload.isGasFlap,\n    isVaporDt1: payload.isVaporDt1,\n    isVaporDt2: payload.isVaporDt2,\n    isSupplyWaterLevelEmergencyMax: payload.isSupplyWaterLevelEmergencyMax,\n    isSupplyWaterLevelEmergencyMin: payload.isSupplyWaterLevelEmergencyMin,\n    isSupplyWaterLevelWorkingMax: payload.isSupplyWaterLevelWorkingMax,\n    isSupplyWaterLevelWorkingMin: payload.isSupplyWaterLevelWorkingMin,\n\n    // Boilers (4-fold)\n    boilers: [\n        {\n            powerBurner: payload.powerBurner_1,\n            mode: payload.modeBoiler_1,\n            status: payload.statusBoiler_1,\n            alarm: payload.alarmBoiler_1\n        },\n        {\n            powerBurner: payload.powerBurner_2,\n            mode: payload.modeBoiler_2,\n            status: payload.statusBoiler_2,\n            alarm: payload.alarmBoiler_2\n        },\n        {\n            powerBurner: payload.powerBurner_3,\n            mode: payload.modeBoiler_3,\n            status: payload.statusBoiler_3,\n            alarm: payload.alarmBoiler_3\n        }\n    ],\n\n    // Boiler valves (4-fold)\n    boilerValves: [\n        { status: payload.statusValve_1 },\n        { status: payload.statusValve_2 },\n        { status: payload.statusValve_3 },\n    ],\n\n    // Network pumps (4-fold)\n    networkPumps: [\n        {\n            setPower: payload.setPowerNP_1,\n            mode: payload.modeNP_1,\n            status: payload.statusNP_1,\n            alarm: payload.alarmNP_2,\n            modeFc: payload.modeFCNP_1,\n            statusFc: payload.statusFCNP_1,\n            alarmFc: payload.alarmFCNP_1\n        },\n        {\n            setPower: payload.setPowerNP_2,\n            mode: payload.modeNP_2,\n            status: payload.statusNP_2,\n            alarm: payload.alarmNP_1,\n            modeFc: payload.modeFCNP_2,\n            statusFc: payload.statusFCNP_2,\n            alarmFc: payload.alarmFCNP_2\n        },\n        {\n            setPower: payload.setPowerNP_3,\n            mode: payload.modeNP_3,\n            status: payload.statusNP_3,\n            alarm: payload.alarmNP_3,\n            modeFc: payload.modeFCNP_3,\n            statusFc: payload.statusFCNP_3,\n            alarmFc: payload.alarmFCNP_3\n        },\n        {\n            setPower: payload.setPowerNP_4,\n            mode: payload.modeNP_4,\n            status: payload.statusNP_4,\n            alarm: payload.alarmNP_4,\n            modeFc: payload.modeFCNP_4,\n            statusFc: payload.statusFCNP_4,\n            alarmFc: payload.alarmFCNP_4\n        }\n    ],\n\n    // Source water pumps (2-fold)\n    sourceWaterPumps: [\n        {\n            setPower: payload.setPowerPW_1,\n            mode: payload.modePW_1,\n            status: payload.statusPW_1,\n            alarm: payload.alarmPW_1,\n            modeFc: payload.modeFCPW_1,\n            statusFc: payload.statusFCPW_1,\n            alarmFc: payload.alarmFCPW_1\n        },\n        {\n            setPower: payload.setPowerPW_2,\n            mode: payload.modePW_2,\n            status: payload.statusPW_2,\n            alarm: payload.alarmPW_2,\n            modeFc: payload.modeFCPW_2,\n            statusFc: payload.statusFCPW_2,\n            alarmFc: payload.alarmFCPW_2\n        }\n    ],\n\n    // Supply pumps (2-fold)\n    supplyPumps: [\n        {\n            mode: payload.modePH_1,\n            status: payload.statusPH_1,\n            alarm: payload.alarmPH_1,\n        },\n        {\n            mode: payload.modePH_2,\n            status: payload.statusPH_2,\n            alarm: payload.alarmPH_2,\n        }\n    ],\n\n\n    // Flaps \n    flapHt: { mode: payload.modeVHT },\n    flapHn: { mode: payload.modeVHN },\n    flapDt: { mode: payload.modeVDT },\n    flapDtFill: { mode: payload.modeVFillDT },\n\n    boilerControlLinkStatuses: [\n        { isActive: payload.isBoilerControlLinkActive_1, },\n        { isActive: payload.isBoilerControlLinkActive_2, },\n        { isActive: payload.isBoilerControlLinkActive_3, },\n    ],\n\n    // Timestamp\n    timestamp: Date.now(),\n};\n\nglobal.set(`deviceState${device.id}`, deviceState);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    }
]